
[% INCLUDE jquery_js_include.tt %]
[% INCLUDE bootstrap_js_include.tt %]
[% INCLUDE pnotify_js_include.tt %]
[% INCLUDE wing_js_include.tt %]
[% INCLUDE status_include.tt %]
[% section_foot_tags %]
[% foot_tags %]

</body>
</html>
