<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  [% INCLUDE wing_ui_css_requirements.tt %]

  <meta charset="UTF-8">
  [% section_head_tags %]
  [% head_tags %]
  <title>[% page_title %]</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Wing App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerBarContent" aria-controls="headerBarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="headerBarContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
         <li><a href="/account">[% IF current_user %][% current_user.display_name %][% ELSE %]Login[% END %]</a></li>
        </ul>
      </div>
    </nav>
