<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  [% INCLUDE wing_ui_css_requirements.tt %]

  <meta charset="UTF-8">
  [% section_head_tags %]
  [% head_tags %]
  <title>[% page_title %]</title>
</head>
<body>

<div id="sitenav">
    <b-navbar toggleable="sm" type="light" variant="light">

      <b-navbar-toggle target="sitenavcollapse"></b-navbar-toggle>

      <b-navbar-brand href="/">Wing App</b-navbar-brand>

      <b-collapse is-nav id="sitenavcollapse">

        <b-navbar-nav>
            <b-nav-item href="/">Home</b-nav-item>
            <b-nav-item href="#">About</b-nav-item>
            <b-nav-item href="#">Contact</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
            <b-nav-item href="/account">[% IF current_user %][% current_user.display_name %][% ELSE %]Login[% END %]</b-nav-item>
        </b-navbar-nav>

      </b-collapse>
    </b-navbar>
</div>
