[% page_title = "Edit ${test.name}" %]
[% INCLUDE header_include.tt %]
<div class="container-fluid" id="app">
    <br>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/tests">Tests</a></li>
        <li class="breadcrumb-item"><a :href="test.properties.view_uri">{{test.properties.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
      </ol>
    </nav>
    <h1>Edit {{test.properties.name}}</h1>

		
		<div class="form-group">
			<label for="is_cool">Is_cool</label>
			<wing-select :object="test" property="is_cool"></wing-select>
		</div>
		
		<div class="form-group">
			<label for="name">Name</label>
			<input class="form-control" type="text" id="name" v-autosave="test" v-model="test.properties.name">
		</div>
		
		<div class="form-group">
			<label for="description">Description</label>
			<input class="form-control" type="text" id="description" v-autosave="test" v-model="test.properties.description">
		</div>
		
		<div class="form-group">
			<label for="end_date">End_date</label>
			<input class="form-control" type="text" id="end_date" v-autosave="test" v-model="test.properties.end_date">
		</div>
		
		<div class="form-group">
			<label for="start_date">Start_date</label>
			<input class="form-control" type="text" id="start_date" v-autosave="test" v-model="test.properties.start_date">
		</div>
		

        
        [% IF current_user.is_admin %]

        <div class="card">
            <h2 class="card-header">Admin Only</h2>
            <div class="card-body">
				
				[% field %]
				<div class="form-group">
					<label for="status">Status</label>
					<wing-select :object="test" property="status"></wing-select>
				</div>
				
            </div>
        </div>
        [% END %]
        

</div>

[% foot_tags = BLOCK %]
[% USE JSON.Escape %]
<script>

new Vue({
    el:     '#app',
    data:   {
        test : wing.object({
            properties : [% test.json %],
            params : {
                _include_options : 1,
            },
            on_update : function(properties) {
                wing.success(properties.name + ' saved.');
            },
        }),
    },
});
</script>
[% END %]
[% INCLUDE footer_include.tt %]
